.terraform/
.terraform.lock.hcl
**/.terraform/*
*.tfvars
*.tfplan
*.tfstate
*.tfstate.*
override.tf
override.tf.json
*_override.tf
*_override.tf.json
crash.log
.idea/
.DS_Store
*.key
*.pem
*.rsa
*.p12
*.old
